@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* todo: Name brand colours once decided */
@theme {
  --color-brand-1: #4981E9;
  --color-brand-2: #273F3B;
  --color-brand-3: #FCEEB0;
  --color-brand-4: #D05353;
  --color-brand-5: #ABD1B5;
  --color-brand-6: #212738;
  --color-brand-7: #301014;
  --color-brand-8: #edf4ed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
